<link rel="import" href="/static/components/lib/polymer/polymer.html">
<link rel="import" href="/static/components/lib/core-ajax/core-ajax.html">

<polymer-element name="comment-box" attributes="author contents photo timestamp top left maxWidth fileId line commentId">
    <template>
        <style>

            #container {
                position: absolute;
                background: #F9FAD2;
                padding: 4px 8px 7px 8px;
                border: 1px solid #ccc;
                max-width: 50%;
            }

            img {
                width: 14px;
                border-radius: 7px;
            }

            h4, img {
                vertical-align: middle;
                display: inline-block;
            }

            h4 {
                font-size: 14px;
                margin: 0 3px;
                padding: 0;
            }

            #top-container {
                width: 100%;
                border-bottom: 1px solid #ccc;
                padding-bottom: 7px;
            }

            #contents {
                margin-top: 8px;
                font-size: 13px;
                outline: 0px solid transparent;
                max-height: 90px;
                overflow-y: scroll;
            }

            #timestamp {
                font-weight: normal;
                font-size: 12px;
                margin-left: 4px;
                display: inline-block;
            }

        </style>

        <core-ajax
            id="ajaxSave"
            url="/comment"
            handleAs="json"
            method="POST"
            on-core-response="{{onSaveSuccess}}"
        ></core-ajax>

        <div id="container" style="top: {{top}}; left: {{left}}; max-width: {{maxWidth}}">
            <div id="top-container">
                <img src="{{photo}}" alt="{{author}}" />
                <a href="#"><h4>{{author}}</h4></a><span id="timestamp">({{timestamp}})</span>
            </div>
            <div id="contents" on-blur="{{save}}" contenteditable>{{contents}}</div>
        </div>
    </template>

    <script>
        Polymer({
            commentId: 0,
            previousContents: '',

            ready: function() {
                var self = this;
                setInterval(function() {
                    // don't both saving empty or unchanged comments
                    var contents = self.getContents();
                    if (!contents || contents == self.previousContents) {
                        return;
                    }

                    self.save();
                }, 3000);
            },

            domReady: function() {
                this.previousContents = this.getContents();
            },

            bounds: function() {
                return {
                    top: parseInt(this.top),
                    height: $(this.$.container).outerHeight()
                }
            },

            getContents: function() {
                return this.$.contents.innerHTML;
            },

            focusTextArea: function() {
                this.$.contents.focus();
            },

            save: function() {
                var contents = this.getContents();
                this.$.ajaxSave.params = {
                    'comment_id': this.commentId,
                    'file_id': this.fileId,
                    'line': this.line,
                    'contents': contents
                };

                this.previousContents = contents;
                this.$.ajaxSave.go();
            },

            onSaveSuccess: function(e) {
                var response = e.detail.response;
                if (response.success) {
                    this.commentId = e.detail.response.comment_id;
                }
            }
        });
    </script>
</polymer-element>
