<link rel="import" href="/static/components/lib/polymer/polymer.html">
<link rel="import" href="/static/components/comment-box.html">
<link rel="import" href="/static/components/add-comment-icon.html">

<polymer-element name="commentable-file" attributes="fileId filename lines comments contents">
    <template>
        <style>

            .file {
                background: white;
                margin-bottom: 20px;
            }

            h3 {
                padding: 0;
                margin: 0;
                padding: 11px 0 11px 15px;
                border: 1px solid #ccc;
                font-size: 20px;
            }

            h3 .file-info {
                font-weight: normal;
                color: #666;
                font-size: 14px;
                display: inline-block;
                margin-left: 7px;
            }

            pre {
                border: none;
            }

            pre > span {
                display: block;
                width: 100%;
            }

            .linenodiv {
                border-right: 1px solid #ccc;
                background: white;
                text-align: right;
                min-width: 40px;
                padding-right: 7px;
            }

            .linenodiv a {
                text-decoration: none;
                color: #666;
            }

            .highlight pre {
                padding-left: 10px;
            }

            table {
                width: 100%;
                border-top: 3px solid #e5e5e5;
                border-left: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
            }

            table tr td:first-child {
                width: 1%;
                white-space: nowrap;
            }

            .highlight {
                max-width: 50%;
                overflow-x: scroll;
                cursor: text;
            }

            .highlight span:hover {
                background: rgba(249, 250, 210, 0.4);
            }

        </style>

        <div id="file" class="file">
            <h3>
                {{filename}}
                <span class="file-info">{{lines}} LINES &nbsp;&bull;&nbsp; {{commentBoxes.length}} COMMENTS</span>
            </h3>
            <div id="contents" on-mouseover="{{mouseover}}"></div>
            <div id="comments"></div>
            <add-comment-icon id="addCommentIcon" on-click="{{clickAddCommentIcon}}"></add-comment-icon>
        </div>
    </template>

    <script>
        /**
         * The shadow DOM returns offsets relative to the position of the shadow root element,
         * so we need to recursively sum all parent offsets in order to get the offset relative
         * to the document root. This is probably a polymer bug, so maybe someday we won't need this.
         */
        var offsetTop = function(element) {
            if (!element) {
                return 0;
            }

            return element.offsetTop + offsetTop(element.offsetParent);
        };

        Polymer({
            ready: function() {
                // HTML has already been escaped server-side, so insert it raw here
                this.injectBoundHTML(this.contents, this.$.contents);
                this.commentBoxes = [];
            },

            domReady: function() {
                var self = this;

                // display all comments associated with this file
                if (this.comments) {
                    for (var i = 0, n = this.comments.length; i < n; i++) {
                        var comment = this.comments[i];
                        if (comment.file_id == this.fileId) {
                            this.addComment(comment.line, comment.contents, comment.id);
                        }
                    }

                    this.layoutComments();
                }

                // when the cursor leaves a file, hide the add comment icon. we use a jQuery event here because
                // mouseout fires for all child elements, where mouseleave only fires for the element it's attached to
                $(this.$.file).on('mouseleave', function(e) {
                    self.$.addCommentIcon.hide();
                });
            },

            addComment: function(line, contents, commentId) {
                // create comment box
                var $line = this.shadowRoot.querySelector('#line-' + line);
                var $comment = document.createElement('comment-box');
                $comment.setAttribute('fileId', this.fileId);
                $comment.setAttribute('line', line);
                $comment.setAttribute('author', 'Tommy MacWilliam');
                $comment.setAttribute('timestamp', '3 days ago');
                $comment.setAttribute('photo', 'https://pbs.twimg.com/profile_images/378800000821465002/eb68c6d48f3db2c40332c62b134ea9e9_400x400.jpeg');
                $comment.setAttribute('top', offsetTop($line) + 'px');
                $comment.setAttribute('left', '52%');
                $comment.setAttribute('maxWidth', '45%');

                // if we're loading an existing comment, it should have an id and contents
                if (commentId !== undefined) {
                    $comment.setAttribute('commentId', commentId);
                }
                if (contents !== undefined) {
                    $comment.setAttribute('contents', contents);
                }

                // add to the DOM and keep track internally so we can handle the layout
                this.$.comments.appendChild($comment);
                this.commentBoxes.push($comment);

                // focusing immediately causes the viewport to scroll for some reason
                if (!contents) {
                    setTimeout(function() {
                        $comment.focusTextArea();
                    }, 1);
                }
            },

            clickAddCommentIcon: function(e) {
                // if we're not hovering over any line, then don't do anything
                if (!this.currentHoverIndex) {
                    return;
                }

                // create a new comment box at the current line
                this.addComment(this.currentHoverIndex);
                this.layoutComments();
                e.preventDefault();
            },

            layoutComments: function() {
                // sort comment boxes by their y-coordinate
                var sorted = _.sortBy(this.commentBoxes, function(e) { return e.bounds().top; });
                var padding = 3;

                // for each comment box, if the immediately next box intersects it, then move that box down
                for (var i = 0, n = sorted.length; i < n - 1; i++) {
                    var bounds = sorted[i].bounds();
                    var nextBounds = sorted[i + 1].bounds();
                    if (nextBounds.top < bounds.top + bounds.height) {
                        var top = bounds.top + bounds.height + padding;
                        sorted[i + 1].top = top + 'px';
                    }
               }
            },

            mouseover: function(e) {
                var self = this;
                var top = null;
                var index = null;

                // first, try to grab the closest line from the content section
                var $line = $(e.target).closest('span[id^=line]')[0];
                if ($line !== undefined) {
                    var id = $line.getAttribute('id');
                    index = parseInt(id.substring(id.lastIndexOf('-') + 1));
                    top = offsetTop($line);
                }

                // .closest is expensive, so only if we don't find one, try again with the line numbers
                else {
                    var $a = $(e.target).closest('a')[0];
                    if ($a !== undefined) {
                        var href = $a.getAttribute('href');
                        index = parseInt(href.substring(href.lastIndexOf('-') + 1));
                        top = offsetTop($a);
                    }
                }

                // if we found a valid line, then update state
                if (index && top) {
                    // when we change lines, reset the counter that causes the icon to pulse after the cursor
                    // doesn't move for a fixed period of time
                    if (index != this.currentHoverIndex) {
                        if (this.pulseTimeout) {
                            clearTimeout(this.pulseTimeout);
                        }

                        this.pulseTimeout = setTimeout(function() {
                            self.$.addCommentIcon.pulse();
                        }, 15000);
                    }

                    // align the add comment icon with the current line
                    this.currentHoverIndex = index;
                    this.$.addCommentIcon.top = top + 'px';
                    this.$.addCommentIcon.show();
                }
            }
        });
    </script>
</polymer-element>
