<link rel="import" href="/static/components/lib/polymer/polymer.html">

<polymer-element name="view-upload-header" attributes="upload author photo files lines comments">
    <template>
        <style>
            #container {
                background: white;
                padding: 20px;
                margin: 10px 0 30px 0;
                border: 1px solid #ccc;
            }

            img {
                width: 96px;
                border-radius: 48px;
            }

            img, #text-container {
                display: inline-block;
                vertical-align: middle;
            }

            h2, h3 {
                margin: 0;
                padding: 0;
                display: inline-block;
            }

            h2 {
                font-size: 36px;
                margin-bottom: 10px;
            }

            h3 {
                color: #666;
                font-weight: normal;
                font-size: 26px;
                margin-left: 10px;
            }

            #text-container {
                margin-left: 20px;
            }

            #stats {
                color: #666;
            }

        </style>

        <div id="container">
            <img src="{{photo}}" alt="{{author}}" />
            <div id="text-container">
                <h2>{{upload}}</h2>
                <h3>by {{author}}</h3>
                <div id="stats">
                    {{files}} FILES &nbsp;&bull;&nbsp; {{lines}} LINES &nbsp;&bull;&nbsp; {{comments}} COMMENTS
                </div>
            </div>
        </div>
    </template>

    <script>
        Polymer({
        })
    </script>
</polymer-element>
