<!doctype html>
<html>
    <head>
        <title>{% block title %}Review{% endblock %}</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <link rel="stylesheet" href="/static/build/css/lib.min.css" />
    </head>
    <body>
        <script type="text/javascript" src="/static/build/js/lib.min.js"></script>

        <script>
        window.current_user = {{ current_user_json|safe }};
        </script>

        <div id="overlay" class="overlay hidden"></div>

        {% if not hide_navbar %}
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Review</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            {% if current_user %}
                                <li>
                                    <a href="/browse"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>Browse</a>
                                </li>
                                <li>
                                    <a href="/upload"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>Upload</a>
                                </li>
                                <li>
                                    <a href="/notifications">
                                        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                                        Notifications
                                        {% if notifications_badge %}
                                            <div class="navbar-badge notifications-badge">{{ notifications_badge }}</div>
                                        {% endif %}
                                    </a>
                                </li>
                                <li>
                                    <a href="/profile/{{ current_user.username }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Profile</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="/login">Log In</a>
                                </li>
                                <li>
                                    <a href="/register">Sign Up</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endif %}

        <div class="main-container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
