<!doctype html>
<html>
    <head>
        <title>{% block title %}Review{% endblock %}</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/global.css" />
    </head>
    <body>
        <script type="text/javascript" src="/static/build/js/lib.min.js"></script>

        <script>
        window.current_user = {{ current_user_json|safe }};
        </script>

        {% block body %}{% endblock %}
    </body>
</html>
