.upload-header {
    padding: 20px 30px;
}

.upload-header h1 {
    display: inline-block;
}

.upload-header h3 {
    color: #167F39;
    display: block;
    margin-top: 10px;
    font-size: 24px;
    display: inline-block;
}

.upload-header p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
}

.upload-header .stats-table {
    font-size: 18px;
}

.upload-header .tags-container {
    margin-top: 20px;
}

.files-container {
    margin-top: 10px;
}

.files-container .file-contents-table {
    font-family: monospace;
}

.files-container .file-contents-table .first-row td {
    font-size: 8px;
}

.files-container .file-contents {
    padding: 20px 30px;
    overflow: scroll;
}

.files-container h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.files-container .file {
    margin-bottom: 15px;
}

.files-container .file .code {
    width: 100%;
    white-space: pre-wrap;
}

.files-container .file .code {
    overflow: scroll;
    padding-left: 12px;
    height: 100%;
}

.files-container .file .line-number {
    border-right: solid 1px #ccc;
    border-radius: 0;
    padding-right: 12px;
    padding-left: 10px;
    text-align: right;
    color: #337ab7;
}

.files-container .file .highlight {
    background: rgba(249, 250, 210, 0.5);
    cursor: pointer;
}

.files-container .file .highlight.hover {
    background: rgba(255, 255, 130, 1.0);
}

.comment-container {
    position: relative;
}

.comment-box {
    background: rgba(249, 250, 210, 1.0);
    border: 1px solid #ccc;
    padding: 6px 7px 6px 10px;
    font-size: 13px;
    position: absolute;
    left: 10px;
}

.comment-box.hover {
    background: rgba(255, 255, 130, 1.0);
}

.comment-box .contents {
    max-height: 75px;
    overflow: scroll;
    outline: 0px solid transparent;
}

.comment-box h4 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-right: 4px;
}

.comment-box p {
    padding: 0;
    margin: 0;
}

.comment-box h4, .comment-box .timestamp, .comment-box .btn-remove {
    display: inline-block;
}

.comment-box .timestamp {
    margin-right: 20px;
}

.comment-box .btn-remove {
    float: right;
    margin-top: -4px;
    margin-left: -4px;
}
