.typeahead {
    padding: 5px 0;
    border: 1px solid;
    border-color: #e5e5e5 #dbdbdb #d2d2d2;
    border-radius: 8px;
    position: absolute;
    top: 48px;
    background: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    width: calc(100% - 30px);
    z-index: 100;
}

.typeahead ul, .typeahead ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.typeahead li a {
    display: block;
    padding: 5px 15px;
}

.typeahead li a.hover {
    background: #efefef;
}
