{% macro upload_box() -%}

<h1>Request a Review.</h1>
<form action="/upload" method="POST" id="upload-form" enctype="multipart/form-data">
    <div id="files-container" class="files-container">
        <h3>Choose Files to Upload</h3>
        <div id="files-list" class="files-list"></div>
        <a href="#" id="btn-add-file" class="btn btn-default btn-add-file">Add File</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input class="input-title" type="text" name="name" placeholder="What's your project called?" />
        </div>
        <div class="col-md-6">
            <input id="input-tags" class="input-tags" type="text" placeholder="Search for tags to add to your project." />
        </div>
    </div>
    <div id="tags-container" class="tags-container"></div>
    <div id="tags-input-container"></div>
    <textarea id="description" name="description" placeholder="Describe your project."></textarea>
    <a href="#" class="btn btn-primary btn-submit" id="btn-submit">Submit</a>
</form>

{%- endmacro %}
