{% macro upload_box() -%}

<h1>Request a Review.</h1>
<form action="/upload" method="POST" id="upload-form" enctype="multipart/form-data">
    <div id="files-container" class="files-container">
        <h3>Select files to upload.</h3>
        <h4>Or drag and drop files here.</h4>
        <div id="files-list" class="files-list"></div>
        <input id="input-file" class="input-file" type="file" multiple />
        <a href="#" id="btn-add-file" class="btn btn-default btn-add-file">Upload Files</a>
        <a href="#" id="btn-paste-file" class="btn btn-default btn-paste-file">Paste File</a>
        <div id="container-paste" class="container-paste">
            <input id="input-paste-filename" class="input-paste-filename" placeholder="Filename" />
            <textarea id="textarea-paste" class="textarea-paste" placeholder="Paste text here."></textarea>
            <a href="#" id="btn-paste-file-done" class="btn btn-default btn-paste-file-done">Done</a>
            <a href="#" id="btn-paste-file-cancel" class="btn btn-default btn-paste-file-cancel">Cancel</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input class="input-title" type="text" name="name" placeholder="What's your project called?" />
        </div>
        <div class="col-md-6">
            <input id="input-tags" class="input-tags" type="text" placeholder="Search for tags to add to your project." />
        </div>
    </div>
    <div id="tags-container" class="tags-container"></div>
    <div id="tags-input-container"></div>
    <textarea id="description" name="description" placeholder="Describe your project."></textarea>
    <a href="#" class="btn btn-primary btn-submit" id="btn-submit">Submit</a>
</form>

{%- endmacro %}
