{% extends "layout.html" %}
{% block body %}

{% assets "css/view" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
{% endassets %}

<div class="container">
    <h2>pset1 by Tommy MacWilliam</h2>
    <div class="row">
        <div id="comments-container" class="col-md-2"></div>
        <div class="col-md-10">
            {% for file in files %}
                <div class="file" data-file-id="{{ file["id"] }}">
                    <h3>
                        {{ file["filename"] }}
                        <span class="file-info">167 LINES &nbsp;&bull;&nbsp; 5 COMMENTS</span>
                    </h3>
                    {{ file["contents"] | safe }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% assets "js/view" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}
