<!doctype html>
<html>
    <head>
        <title>{% block title %}Review{% endblock %}</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/global.css" />
    </head>
    <body>
        {% assets "js/lib" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% block body %}{% endblock %}
    </body>
</html>
