{% extends "layout.html" %}
{% block body %}

<link rel="import" href="/static/components/view-upload-header.html" />
<link rel="import" href="/static/components/commentable-file-list.html" />
<link rel="import" href="/static/components/comment-box.html" />

<div class="container">
    <view-upload-header upload="{{name}}" author="Tommy MacWilliam" photo="https://pbs.twimg.com/profile_images/378800000821465002/eb68c6d48f3db2c40332c62b134ea9e9_400x400.jpeg" files="2" lines="500" comments="7"></view-upload-header>
    <commentable-file-list files="{{files}}" comments="{{comments}}"></commentable-file-list>
</div>

{% endblock %}
