{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" type="text/css" href="/static/build/css/login.min.css" />

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 content-area content-area-border login-box">
            <h1>Let's Review.</h1>
            <form action="/login" method="POST" id="login-form">
                <input id="email" type="email" name="email" placeholder="Username or email" />
                <input id="password" type="password" name="password" placeholder="Password" />
                <input type="submit" class="btn btn-primary btn-submit" id="btn-login" value="Login" />
            </form>
        </div>
    </div>
</div>

{% endblock %}
