{% extends "layout.html" %}
{% from "macros/upload_story.html" import upload_story %}

{% block body %}

<link rel="stylesheet" type="text/css" href="/static/css/profile.css" />
<script type="text/javascript" src="/static/build/js/profile.min.js"></script>

<div class="container-fluid user-profile-page">
    <div class="row">
        <div class="profile-box col-md-3 content-area content-area-border">
            <div class="profile-header">
                <img class="profile-photo" src="{{user.photo_url}}" alt="{{user.name}}" />
                <h2>{{user.name}}</h2>
                <hr />
            </div>
            <div class="stats-container">
                <table class="stats">
                    <tbody>
                        <tr>
                            <td>Reviews</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Comments</td>
                            <td>{{ comment_count }}</td>
                        </tr>
                        <tr>
                            <td>Uploads</td>
                            <td>{{ upload_count }}</td>
                        </tr>
                        <tr>
                            <td>Files</td>
                            <td>{{ file_count }}</td>
                        </tr>
                        <tr>
                            <td>Lines</td>
                            <td>{{ line_count }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="user-stream" class="user-stream col-md-9">
            <div id="tabs" class="btn-group btn-group-justified tabs">
                <a data-tab="reviews" class="tab btn btn-default selected" href="#">
                    <h3>Reviews</h3>
                </a>
                <a data-tab="uploads" class="tab btn btn-default" href="#">
                    <h3>Uploads</h3>
                </a>
            </div>
            <div id="tab-contents">
                <div class="row stories content-area" data-tab="reviews">
                    {% for review in reviews.values() %}
                        {{ upload_story(review) }}
                    {% endfor %}
                </div>
                <div class="row stories content-area" data-tab="uploads">
                    {% for upload in uploads.values() %}
                        {{ upload_story(upload) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
