{% extends "layout.html" %}
{% from "macros/register_box.html" import register_box %}
{% from "macros/reviewable_file.html" import reviewable_file %}
{% from "macros/reviewers_filter.html" import reviewers_filter %}

{% block body %}

<link rel="stylesheet" type="text/css" href="/static/build/css/review.min.css" />
<script type="text/javascript" src="/static/build/js/review.min.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 content-area content-area-border upload-header">
            <h1>{{ upload.name }}</h1>
            <h3>by {{ users[upload.user_id].name }}</h3>
            <p class="upload-description">{{ upload.description }}</p>
            <div class="tags-container">
                {% for tag in tags.values() %}
                    <span class="btn-tag">{{ tag.name }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <div id="reviewers-filter" class="content-area content-area-border filter-header">
                {{ reviewers_filter(users.values()) }}
            </div>
        </div>
    </div>

    <div class="files-container">
        <div id="files" class="files">
            {% for file in files %}
                {{ reviewable_file(file, grouped_comments, users, current_user) }}
            {% endfor %}
        </div>
    </div>
</div>

<div id="register-box" class="register-box-container hidden above-overlay">
    {{ register_box() }}
</div>

{% endblock %}
