h1 {
    font-size: 38px;
}

.notifications {
    margin-top: 17px;
}

.notification {
    border-bottom: solid 1px #ccc;
    font-size: 15px;
}

.notification:first-child {
    border-top: solid 1px #ccc;
}

.notification a {
    color: #333;
    display: block;
    padding: 15px 10px;
}

.notification a:hover {
    background: #f5f5f5;
}

.notification .timestamp {
    color: #999;
    font-size: 13px;
}

.notification .profile-image {
    width: 32px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 18px;
}

.notification.unread a {
    background: rgba(207, 230, 255, 0.3);
}
